<?php
    /**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpDHLShipping
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 ?>
<?php 
$_helper = $this->helper('Webkul\Marketplace\Helper\Data');
$helper = $this->helper('Webkul\MpDHLShipping\Helper\Data');
$isPartner = $_helper->isSeller();
$magentoCurrentUrl = $block->getCurrentUrl();
?>
<?php 
    if($isPartner && $helper->getConfigData('active')  && $helper->getConfigData('allow_seller')){ ?>
        <li class="nav item <?php echo strpos($magentoCurrentUrl,'mpdhl/shipping/view')!== false? "current":"";?>">
       <?php 
        if(strpos($magentoCurrentUrl,'mpdhl/shipping/view') !== false){ ?>      
            <strong><?php echo __('Manage DHL Shipping') ?></strong>              
            <?php
        } else{ ?>        
            <a href="<?php echo $block->getUrl('mpdhl/shipping/view'); ?>">
                <?php echo __('Manage DHL Shipping') ?>
            </a>                    
        <?php 
            } ?>                  
        </li> 
<?php }?>
