<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpDHLShipping
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 ?>
<?php
    $_helper = $this->helper('Webkul\Marketplace\Helper\Data');
    $isPartner = $_helper->isSeller();
    $isSellerGroup = $_helper->isSellerGroupModuleInstalled();
    $magentoCurrentUrl = $block->getCurrentUrl();
    $helper = $this->helper('Webkul\MpDHLShipping\Helper\Data');
?>
<?php if ($isPartner): ?>
<?php if (($helper->getConfigData('active')  && $helper->getConfigData('allow_seller') && $isSellerGroup && $_helper->isAllowedAction('mpdhl/shipping/view')) || (!$isSellerGroup && $helper->getConfigData('active')  && $helper->getConfigData('allow_seller'))): ?>
    <li id="wk-mp-menu-mpdhl-shipping" class="level-2 <?php echo strpos($magentoCurrentUrl, 'mpdhl/shipping/view')? "current active":"";?>">
        <a href="<?php echo $block->getUrl('mpdhl/shipping/view', ['_secure' => $this->getRequest()->isSecure()]); ?>">
            <?php /* @escapeNotVerified */ echo __('DHL Shipping') ?>
        </a>
    </li>
<?php endif; ?>
<?php endif; ?>